body {
  text-align: center;
  background-color: #F8F8F8;
}

.top {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  height: 40px;
  border-bottom: 2px solid blue;
  background-color: #003300;
}

.panel {
  margin-top: 40px;
  font-family: 'Ubuntu', sans-serif;
  height: 50px;
}

.header {
  cursor: pointer;
  margin: 0;
  color: white;
  padding: 6px;
  font-size: 24px;
  font-style: italic;
  font-family: 'Ubuntu', sans-serif;
}

button {
  cursor: pointer;
  margin-left: 5px;
  border-radius: 1px;
}

button:hover {
  color: gray;
  transform: scale(1.1, 1.2);
}

button:active {
  color: green;
  backface-visibility: hidden;
}

.songs {
  width: 600px;
  height: 530px;
  margin: 0 auto;
  border-radius: 15px;
  border-top: none;
  overflow: hidden;
  text-align: center;
}

@media screen and (max-width: 600px){
  .songs {
    transform: scale(0.8, 0.8);
  }
}

.progress_width {
  width: 300px;
  height: 6px;
  margin: 0 auto;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 10px;
  border: 3px solid #62666d;
  background-color: #b1c1db;
  color: #fff;
  overflow: hidden;
}

#progressBar {
  width: 0;
  height: 6px;
  border-radius: 8px;
  background-color: #5979af;
}

.playlist {
  width: 100%;
  height: 390px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: -60px !important;
  border-top: none;
  overflow: auto;
  text-align: auto;
}

.playlist::-webkit-scrollbar {
    width: 9px;
}
 
.playlist::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
    border-radius: 10px;
}
 
.playlist::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8); 
}

.title {
  font-size: 26px;
  font-style: italic;
  border-bottom: 2px solid #62666d;
}

.song {
  padding: 5px;
  cursor: pointer;
  background-color: #a6bad8;
  border-bottom: 2px solid white;
  box-shadow: 10px 10px 5px #888888;
  text-align: left;
}

.status {
  float: right;
}

.name, .status {
  pointer-events: none;
}

.none {
  display: none;
  visibility: none;
}
